srcMyCoreApp/main/default/flows/Opportunity_Creation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Standard_Updates</name>
        <label>Standard Updates</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityNameLogic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Opportunity_Renewal</name>
        <label>Is Opportunity Renewal?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Essentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Essentials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Copado_Pricebook</targetReference>
            </connector>
            <label>Non-Essentials</label>
        </rules>
    </decisions>
    <description>Automation to update Opportunity Name and Pricebook based on record type and renewal status</description>
    <environments>Default</environments>
    <formulas>
        <name>OpportunityNameLogic</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!$Record.SBQQ__AmendedContract__c})), 
  LEFT({!$Record.Account.Name}, 
       120 - LEN(&apos; - Amendment to Contract #&apos; + 
                 {!$Record.SBQQ__AmendedContract__r.ContractNumber} + 
                 &apos; - &apos; + TEXT(YEAR(TODAY())))
  ) + &apos; - Amendment to Contract #&apos; + 
  {!$Record.SBQQ__AmendedContract__r.ContractNumber} + &apos; - &apos; + TEXT(YEAR(TODAY())),

  IF(NOT(ISBLANK({!$Record.SBQQ__RenewedContract__c})), 
  LEFT({!$Record.Account.Name}, 
       120 - LEN(&apos; - Renewal #&apos; + 
                 {!$Record.SBQQ__RenewedContract__r.ContractNumber} + 
                 &apos; - &apos; + TEXT(YEAR({!$Record.SBQQ__RenewedContract__r.EndDate})))
  ) + &apos; - Renewal #&apos; + 
  {!$Record.SBQQ__RenewedContract__r.ContractNumber} + &apos; - &apos; + 
  TEXT(YEAR({!$Record.SBQQ__RenewedContract__r.EndDate})),

  LEFT({!$Record.Name}, 120)
  )
)</expression>
    </formulas>
    <interviewLabel>Opportunity Creation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Creation Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Copado_Pricebook</name>
        <label>Get Copado Pricebook</label>
        <locationX>44</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Copado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Copado_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuotePricebookId__c</field>
            <value>
                <elementReference>Get_Copado_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Renewal</name>
        <label>Update Opportunity Renewal</label>
        <locationX>44</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Copado_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuotePricebookId__c</field>
            <value>
                <elementReference>Get_Copado_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Standard_Updates</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
