srcMyCoreApp/main/default/flows/Opportunity_Stage_Change_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Thank_You_Email</name>
        <label>Send Thank You Email</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Lessons_Learned_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ThankYouEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Primary_Contact_Email.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Thank You for Considering Our Solutions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Opportunity_Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Analysis_Reviewer</name>
        <label>Set Analysis Reviewer</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.Analysis_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Close_Date_for_Closed_Lost</name>
        <label>Set Close Date for Closed Lost</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date_for_Closed_Won</name>
        <label>Set Close Date for Closed Won</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Record.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Primary_Contact_Exists</name>
        <label>Check Primary Contact Exists</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Lessons_Learned_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Contact</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Owner</targetReference>
            </connector>
            <label>Has Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_for_Closed_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_for_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
        <rules>
            <name>Needs_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Analysis_Reviewer</targetReference>
            </connector>
            <label>Needs Analysis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Contact_Email</name>
        <label>Validate Contact Email</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Lessons_Learned_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact_Email.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Thank_You_Email</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <description>Automates actions when an Opportunity stage changes, including setting close dates, tracking who closed the opportunity, identifying the analysis reviewer, creating follow-up tasks, and sending thank you emails to primary contacts when opportunities are closed lost.</description>
    <environments>Default</environments>
    <formulas>
        <name>FollowUpDueDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Opportunity Stage Change Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Stage Change Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow-Up Task</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowUpDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please follow up with the customer to ensure satisfaction and explore potential upsell opportunities.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FollowUpTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lessons_Learned_Task</name>
        <label>Create Lessons Learned Task</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please review why this opportunity was lost and document lessons learned for future opportunities.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>LessonsLearnedTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_Email</name>
        <label>Get Primary Contact Email</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Contact_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FollowUpTaskSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Follow up on Closed Won Opportunity: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>LessonsLearnedTaskSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Review Lessons Learned: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ThankYouEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!Get_Primary_Contact_Email.FirstName},

Thank you for taking the time to evaluate our solutions. While we understand you&apos;ve decided to move in a different direction at this time, we truly appreciate the opportunity to learn about your needs and present our offerings.

We hope our conversations provided valuable insights, and we&apos;d be delighted to stay connected for any future opportunities where we might be of service.

If your circumstances change or if there&apos;s anything we can assist you with down the road, please don&apos;t hesitate to reach out. We look forward to the possibility of working together in the future.

Wishing you continued success.

Warm regards,

{!Get_Opportunity_Owner.Name}
{!Get_Opportunity_Owner.Title}
{!Get_Opportunity_Owner.Email}
{!Get_Opportunity_Owner.Phone}</text>
    </textTemplates>
    <variables>
        <name>FollowUpDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FollowUpDueDateFormula</elementReference>
        </value>
    </variables>
</Flow>
