srcMyCoreApp/main/default/flows/Update_Bicycle_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata"><apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Type_Is_Set</name>
        <label>Check If Type Is Set</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Type_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Type</targetReference>
            </connector>
            <label>Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lamination_Selected</name>
        <label>Check Lamination Selected</label>
        <locationX>622</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_Pedal_Type_Is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lamination Not Selected</defaultConnectorLabel>
        <rules>
            <name>Lamination_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lamination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lamination_Price</targetReference>
            </connector>
            <label>Lamination Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pedal_Type_For_Surge</name>
        <label>Check Pedal Type For Surge</label>
        <locationX>776</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>No Surge — Null or Unrecognized</defaultConnectorLabel>
        <rules>
            <name>Pedal_Type_Is_Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pedal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Surge_Integrated</targetReference>
            </connector>
            <label>Integrated</label>
        </rules>
        <rules>
            <name>Pedal_Type_Is_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pedal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Surge_Standard</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>Pedal_Type_Is_Molded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pedal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Surge_Molded</targetReference>
            </connector>
            <label>Molded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pedal_Type_Is_Blank</name>
        <label>Check Pedal Type Is Blank</label>
        <locationX>776</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_Pedal_Type_For_Surge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pedal Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Pedal_Type_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pedal_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Pedal_Type</targetReference>
            </connector>
            <label>Pedal Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pricing_Found</name>
        <label>Check Pricing Found</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Lamination_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricing Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing.Base_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Base_Price</targetReference>
            </connector>
            <label>Pricing Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Pedal_Type</name>
        <label>Determine Pedal Type</label>
        <locationX>446</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Unknown Type — No Action</defaultConnectorLabel>
        <rules>
            <name>Type_Is_BMX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Integrated</targetReference>
            </connector>
            <label>BMX</label>
        </rules>
        <rules>
            <name>Type_Is_Mountain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mountain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Standard</targetReference>
            </connector>
            <label>Mountain</label>
        </rules>
        <rules>
            <name>Type_Is_Tandem_Or_Road</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tandem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Molded</targetReference>
            </connector>
            <label>Tandem or Road</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxConvertPriceToNumber</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Pricing.Base_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithLamination</name>
        <dataType>Currency</dataType>
        <expression>{!fxConvertPriceToNumber} + 250</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSurgeIntegrated</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 500</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSurgeMolded</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 650</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxSurgeStandard</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Bicycle Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Bicycle Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pricing</name>
        <label>Get Pricing</label>
        <locationX>776</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bicycle_Pricing__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Lamination_Price</name>
        <label>Add Lamination Price</label>
        <locationX>490</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Check_Pedal_Type_Is_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithLamination</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Apply_Surge_Integrated</name>
        <label>Apply Surge — Integrated (+$500)</label>
        <locationX>490</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxSurgeIntegrated</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Apply_Surge_Molded</name>
        <label>Apply Surge — Molded (+$650)</label>
        <locationX>1062</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxSurgeMolded</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Apply_Surge_Standard</name>
        <label>Apply Surge — Standard (+$100)</label>
        <locationX>776</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxSurgeStandard</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Default_Type</name>
        <label>Set Default Type</label>
        <locationX>644</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Get_Pricing</targetReference>
        </connector>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>BMX</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Integrated</name>
        <label>Set Pedal Type — Integrated</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Check_Pedal_Type_For_Surge</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Integrated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Molded</name>
        <label>Set Pedal Type — Molded</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Check_Pedal_Type_For_Surge</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Molded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Standard</name>
        <label>Set Pedal Type — Standard</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Check_Pedal_Type_For_Surge</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Base_Price</name>
        <label>Update Base Price</label>
        <locationX>622</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Check_Lamination_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxConvertPriceToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Type_Is_Set</targetReference>
        </connector>
        <object>Bicycle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
