srcMyCoreApp/main/default/flows/Update_Bicycle_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata"><apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Type_Is_Set</name>
        <label>Check If Type Is Set</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_Lamination_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Type_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Type</targetReference>
            </connector>
            <label>Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pricing_Found</name>
        <label>Check Pricing Found</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No Pricing Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing.Base_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Base_Price</targetReference>
            </connector>
            <label>Pricing Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxConvertPriceToNumber</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Pricing.Base_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Bicycle Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Bicycle Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pricing</name>
        <label>Get Pricing</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bicycle_Pricing__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Default_Type</name>
        <label>Set Default Type</label>
        <locationX>44</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Set_Lamination_Default</targetReference>
        </connector>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>BMX</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Lamination_Default</name>
        <label>Set Lamination Default</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Pricing</targetReference>
        </connector>
        <inputAssignments>
            <field>Lamination__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Base_Price</name>
        <label>Update Base Price</label>
        <locationX>44</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxConvertPriceToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Type_Is_Set</targetReference>
        </connector>
        <object>Bicycle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
