srcMyCoreApp/main/default/flows/Update_Bicycle_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Brake_Type_Selected_copado</name>
        <label>Check Brake Type Selected</label>
        <locationX>974</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Tire_Type_copado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rim Brakes or Not Set — No Surcharge</defaultConnectorLabel>
        <rules>
            <name>Mechanical_Disc_Brakes_Is_Selected_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brake_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mechanical Disc Brakes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Mechanical_Disc_Brake_Charge_copado</targetReference>
            </connector>
            <label>Mechanical Disc Brakes Is Selected</label>
        </rules>
        <rules>
            <name>Hydraulic_Disc_Brakes_Is_Selected_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brake_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hydraulic Disc Brakes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Hydraulic_Disc_Brake_Charge_copado</targetReference>
            </connector>
            <label>Hydraulic Disc Brakes Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expedited_Order_copado</name>
        <label>Check Expedited Order Selected</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_Brake_Type_Selected_copado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expedited Order Not Selected</defaultConnectorLabel>
        <rules>
            <name>Expedited_Order_Is_Selected_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expedited_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Expedited_Charge_copado</targetReference>
            </connector>
            <label>Expedited Order Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Handlebar_Type_Is_Blank_copado</name>
        <label>Check Handlebar Type Is Blank</label>
        <locationX>974</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Handlebar Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Handlebar_Type_Is_Blank_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handlebar_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Handlebar_Type_copado</targetReference>
            </connector>
            <label>Handlebar Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Type_Is_Set</name>
        <label>Check If Type Is Set</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Type_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Type</targetReference>
            </connector>
            <label>Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lamination_Selected</name>
        <label>Check Lamination Selected</label>
        <locationX>974</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Expedited_Order_copado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lamination Not Selected</defaultConnectorLabel>
        <rules>
            <name>Lamination_Is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lamination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lamination_Price</targetReference>
            </connector>
            <label>Lamination Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pedal_Type_Is_Blank</name>
        <label>Check Pedal Type Is Blank</label>
        <locationX>974</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Check_Handlebar_Type_Is_Blank_copado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pedal Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Pedal_Type_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pedal_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Pedal_Type</targetReference>
            </connector>
            <label>Pedal Type Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pricing_Found</name>
        <label>Check Pricing Found</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Lamination_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pricing Found</defaultConnectorLabel>
        <rules>
            <name>Pricing_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing.Base_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Base_Price</targetReference>
            </connector>
            <label>Pricing Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Tire_Type_copado</name>
        <label>Check Tire Type Selected</label>
        <locationX>974</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Check_Pedal_Type_Is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tubeless, Tubular or Not Set — No Surcharge</defaultConnectorLabel>
        <rules>
            <name>Tubed_Tire_Is_Selected_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tire_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tubed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tubed_Tire_Charge_copado</targetReference>
            </connector>
            <label>Tubed Tire Is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Handlebar_Type_copado</name>
        <label>Determine Handlebar Type</label>
        <locationX>578</locationX>
        <locationY>2795</locationY>
        <defaultConnectorLabel>Unknown Type — No Action</defaultConnectorLabel>
        <rules>
            <name>Handlebar_BMX_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Handlebar_Type_Bullhorn_copado</targetReference>
            </connector>
            <label>BMX</label>
        </rules>
        <rules>
            <name>Handlebar_Mountain_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mountain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Handlebar_Type_Flat_copado</targetReference>
            </connector>
            <label>Mountain</label>
        </rules>
        <rules>
            <name>Handlebar_Road_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Handlebar_Type_Drop_copado</targetReference>
            </connector>
            <label>Road</label>
        </rules>
        <rules>
            <name>Handlebar_Tandem_copado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tandem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Handlebar_Type_Riser_copado</targetReference>
            </connector>
            <label>Tandem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Pedal_Type</name>
        <label>Determine Pedal Type</label>
        <locationX>688</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Check_Handlebar_Type_Is_Blank_copado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown Type — No Action</defaultConnectorLabel>
        <rules>
            <name>Type_Is_BMX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Integrated</targetReference>
            </connector>
            <label>BMX</label>
        </rules>
        <rules>
            <name>Type_Is_Mountain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mountain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Standard</targetReference>
            </connector>
            <label>Mountain</label>
        </rules>
        <rules>
            <name>Type_Is_Tandem_Or_Road</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tandem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pedal_Type_Molded</targetReference>
            </connector>
            <label>Tandem or Road</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fxConvertPriceToNumber</name>
        <dataType>Currency</dataType>
        <expression>VALUE({!Get_Pricing.Base_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithExpedited_copado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 300</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithHydraulicDiscBrakes_copado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 500</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithLamination</name>
        <dataType>Currency</dataType>
        <expression>{!fxConvertPriceToNumber} + 250</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithMechanicalDiscBrakes_copado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 200</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxPriceWithTubedTire_copado</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Base_Price__c} + 50</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Bicycle Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Bicycle Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Pricing</name>
        <label>Get Pricing</label>
        <locationX>974</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pricing_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bicycle_Pricing__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Expedited_Charge_copado</name>
        <label>Add Expedited Charge</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Check_Brake_Type_Selected_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithExpedited_copado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Hydraulic_Disc_Brake_Charge_copado</name>
        <label>Add Hydraulic Disc Brake Charge</label>
        <locationX>974</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Check_Tire_Type_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithHydraulicDiscBrakes_copado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Lamination_Price</name>
        <label>Add Lamination Price</label>
        <locationX>842</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Check_Expedited_Order_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithLamination</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Mechanical_Disc_Brake_Charge_copado</name>
        <label>Add Mechanical Disc Brake Charge</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Check_Tire_Type_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithMechanicalDiscBrakes_copado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Tubed_Tire_Charge_copado</name>
        <label>Add Tubed Tire Charge</label>
        <locationX>710</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Check_Pedal_Type_Is_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxPriceWithTubedTire_copado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Default_Type</name>
        <label>Set Default Type</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Get_Pricing</targetReference>
        </connector>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>BMX</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Handlebar_Type_Bullhorn_copado</name>
        <label>Set Handlebar Type — Bullhorn</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <inputAssignments>
            <field>Handlebar_Type__c</field>
            <value>
                <stringValue>Bullhorn</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Handlebar_Type_Drop_copado</name>
        <label>Set Handlebar Type — Drop</label>
        <locationX>578</locationX>
        <locationY>2903</locationY>
        <inputAssignments>
            <field>Handlebar_Type__c</field>
            <value>
                <stringValue>Drop</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Handlebar_Type_Flat_copado</name>
        <label>Set Handlebar Type — Flat</label>
        <locationX>314</locationX>
        <locationY>2903</locationY>
        <inputAssignments>
            <field>Handlebar_Type__c</field>
            <value>
                <stringValue>Flat</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Handlebar_Type_Riser_copado</name>
        <label>Set Handlebar Type — Riser</label>
        <locationX>842</locationX>
        <locationY>2903</locationY>
        <inputAssignments>
            <field>Handlebar_Type__c</field>
            <value>
                <stringValue>Riser</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Integrated</name>
        <label>Set Pedal Type — Integrated</label>
        <locationX>292</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Check_Handlebar_Type_Is_Blank_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Integrated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Molded</name>
        <label>Set Pedal Type — Molded</label>
        <locationX>820</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Check_Handlebar_Type_Is_Blank_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Molded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pedal_Type_Standard</name>
        <label>Set Pedal Type — Standard</label>
        <locationX>556</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Check_Handlebar_Type_Is_Blank_copado</targetReference>
        </connector>
        <inputAssignments>
            <field>Pedal_Type__c</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Base_Price</name>
        <label>Update Base Price</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Check_Lamination_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>fxConvertPriceToNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Type_Is_Set</targetReference>
        </connector>
        <object>Bicycle__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
